.card-item {
    transform-style: preserve-3d;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
 }

 .status-heading {
    font-size: 24px;
    font-weight: bold;
    color: black;
 }

 .list-group-item {
    font-size: 12px;
    padding: 8px 0 0 10px;

 }

 .list-group {
    border-radius: 0px;
 }

 .service {
    padding-top: 8px;
 }

 .service ul li {
    list-style-type: none;
    font-size: 12px;
    padding: 3px 0;
 }


 .bg-navyblue {
    background-color: #66CCFF;
    color: #ffffff;
 }

 .bg-yellow {
    background: #FFFF66;
 }

 .bg-green {
    background-color: #99CC00;
 }

 .bg-menu {
    background: #E7E9E6;
    color: #1D627E;
    font-weight: bold;
    cursor: pointer;
 }

 .text-color-service {
    color: #1D627E;
    font-weight: bold;
 }


 .datepicker {
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

 }

 .invoice_item:hover {
    background: gray;
    color: white;
    cursor: pointer;
}


.invoice-card {

    padding: 10px 2em;
    background-color: #fff;
    border-radius: 5px;
}

.invoice-card>div {
    margin: 5px 0;
}

.invoice-title {
    flex: 3;
}

.invoice-title #date {
    display: block;
    margin: 8px 0;
    font-size: 12px;
}

.invoice-title #main-title {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.invoice-title #main-title h4 {
    letter-spacing: 2.5px;
}

.invoice-title span {
    color: rgba(0, 0, 0, 0.4);
}

.invoice-details {
    flex: 1;
    border-top: 0.5px dashed grey;
    border-bottom: 0.5px dashed grey;
    display: flex;
    align-items: center;
}

.invoice-table {
    width: 100%;
    border-collapse: collapse;
}

.invoice-table thead tr td {
    font-size: 12px;
    letter-spacing: 1px;
    color: grey;
    padding: 8px 0;
}

.invoice-table thead tr td:nth-last-child(1),
.row-data td:nth-last-child(1),
.calc-row td:nth-last-child(1) {
    text-align: right;
}

.invoice-table tbody tr td {
    padding: 8px 0;
    letter-spacing: 0;
}

.invoice-table .row-data #unit {
    text-align: center;
}

.invoice-table .row-data span {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
}

.invoice-footer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.invoice-footer #later {
    margin-right: 5px;
}

.btn#later {
    margin-right: 2em;
}

.company_info {
    font-size: 10px;
    font-weight: normal;
}
.search_area {
    width: 100%;

}

#datatable_filter {
    visibility: hidden;
}